{% extends "base.html.twig" %}
{% block title %}{{ article.title}} {% endblock %}
{% block body %}
    <div id="articles">
        <div class="article expanded">
            <h1 id="article-title">
                {{ article.title }}

            </h1>
            {% if article.user.id == user.id %}
                <div class="article-action">
                    <a href="{{ path("article_edit", {id: article.id}) }}">EDIT</a>
                    <a href="{{ path("article_delete", {id: article.id}) }}">DELETE</a>
                </div>
            {% endif %}
            <div id="article-content">
                {{ article.content | raw }}
            </div>
            <div id="comments">
                <h2>Comments</h2>
                {% if form != false %}
                    <div id="comment-form">
                        {{ form(form) }}
                    </div>
                {% endif %}
                {% for comment in article.comments %}
                    {% include "comment/single.html.twig" with {comment: comment} %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}